body{
    background-color: #EFEFEF;
}

.pgTop{
    display: flex;
    width: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10%;
    margin-right: 5%;
}

.title{
    flex: 1;
    text-align: center;
}

.team{
    flex: 1;
    text-align: left;
    margin-left: 40%;
}

.homework{
    background-color: #CAEBF2;
    border-radius: 1px;
    border-color: #A9A9A9;
    border-style: groove;
    width: auto;

    margin-top: 36px;
    margin-bottom: 15px;
    margin-left: 8%;
    margin-right: 8%; 

    padding-top: 2px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

.homework > div{
    display: flex;
}

.homework > div > div{
    flex: 1;
}

.homework > div > div > p{
    font-size: large;
    margin-left: 40px;
    margin-top: -5px;
    margin-bottom: -12px;
}