body{
    background-color: #EFEFEF;
    text-align: center;
}

.pageTop{
    display: flex;
    width: 90%;
}

.pageTop > div{
    flex: 1;
}

.charts{
    display: flex;
    width: 90%;
}

.charts > div{
    flex: 1;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}