body{
    background-color: #EFEFEF;
    text-align: center;
}

.pageTop{
    display: flex;
    width: auto;
}

.pageTop > div{
    flex: 1;
}

.charts{
    display: flex;
    width: auto;
}

.charts > div{
    flex: 1;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}